@tailwind base;
@tailwind components;
@tailwind utilities;
@layer tailwind, primeng;

html, body {
  height: 100%;
}

body {
  @apply bg-gray-50 dark:bg-gray-950 text-gray-800 dark:text-gray-200 antialiased;
}

/* Scrollbar fina pro estilo do template */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400;
}
